<center>
<h1>The Current OS : {{ ansible_os_family }} </h1>
<h1>The Hostname : {{ ansible_hostname }} </h1>
<h1>This Host Managed by : {{ username }} </h1>
<h1>This Host Located in : {{ location }} </h1>
</center>
